.section{
    display: flex;
    justify-content: center;
    align-items: center;

}
.eventd{
    
    display: flex;
    flex-direction: column;
}
.data{
    display: flex;
    flex-direction: column;
    gap: 5px;
    border-radius: 15px;
}
.bdata{

    align-items: center;
    justify-content: space-between;
    background-color: rgb(73, 73, 73);
    width: 400px;
    padding: 20px;;
    border: none;
    border-radius: 15px;
    backdrop-filter: blur(10px);
    background: rgba(121, 121, 121, 0.3);
    font-weight: bold;
    transition: 0.3s;
}
input{
    border-radius: 12px;
    border: none;
    height: 30px;
}
.submit{
    display: flex;
    justify-content: center;
    padding-top: 10px;
   
}
.submit2{
     background-color: midnightblue;
    color: white;
}
.submit2:hover {
    transform:scale(1.010);
}
